/***************************************   
            Banner
****************************************/

#banner{
    width:100%;
    position:relative;
    min-height:550px;
    max-height:550px;
    overflow:hidden;
    background:#F4F4F4;
}
#banner-overlay{
    background:black;
    opacity:0.4;
}
#banner-heading-1,#banner-heading-2{
    display:block;
    font:70px 'Open Sans',arial;
    font-weight:600;
    color:white;
}
#banner-heading-1{
    margin-top:140px;
}
#banner-heading-2{
    margin-top:0;
}
#banner-heading-3{
    display:block;
    color:white;
    font:18px 'Open Sans',arial;
    font-weight:400;
    margin:20px auto 20px;
}

/***************************************   
            Statistics
****************************************/

#statistics{
    width:100%;
    padding:22px 0;
    background:#F4F4F4;
    overflow:hidden;
}
.statistic{
    display:inline-block;
    margin:0 4%;
}
.statistic i{
    display:block;
    font-size:30px;
    color:gray;
}
.statistic span{
    display:block;
    font:19px 'Open Sans',arial;
    font-weight:300;
    margin-top:8px;
}

/***************************************   
           Recipes Gallery
****************************************/

#gallery{
    position:relative;
    display:block;
    margin:0 auto;
    padding:20px 0;
    min-height:300px;
    overflow:hidden;
}

.gallery-lbut{
    display:inline-block;
    border:1px solid gray;
    border-radius:4px;
    padding:10px 10px;
    transition: all .2s ease-in-out;
    font-size:11px;
    font-weight:400;
    color:gray;
}
.gallery-lbut:hover{
    color:black;
    border-color:black;
}  
.gallery-dot{
    width:4px;
    height:4px;
    border-radius:50%;
    background:red
    ;margin:5px auto 0;
}
.gallery-text{
    font-weight:600;
    font-size:17px;
}

