#loader-toast{
  display:block;
  position: fixed;
  bottom:6%;
  left:2%;
  z-index: 1001;
  padding: 12px 0 7px;
  width: 220px;
  max-width:100%;
  overflow:hidden;
  background:#3cb46e;
  min-height:10px;
  box-shadow: 0 0 15px 1px #3cb46e;
  border-radius: 2px;
  transition: background 0.4s;
}

#loader-toast div{
  display:inline-block;
}

#loader-toast div i{
  display:inline-block;
  font-size:30px;
  color:white;
  margin-right:15px;
}

#loader-toast div span{
  display:inline-block;
  font-size:20px;
  font-weight:300;
  color:white;
}